#body{
    margin: 0;
     margin: 0;
   background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
     animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 0.5;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }}
#nav{
     text-align: right;
}
#header{
    outline: 0;
   background-color: #000;
}
#logo{
    margin-right: 40%;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

#divnav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.one{
    color:white;
    padding-right: 50px;
    padding-bottom: 5px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}
.one:hover{
    color: greenyellow;}
    #imgone{
    width:200px;
    height: 70px;
    object-fit: cover;}
   #divmain{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    gap: 50px
   }
   #subone{
    align-items: center;
    margin-right: 100px;
   }
   .two{
    width: 400px;
    height: 50px;
    border-radius: 12px;
    background: #1e1e1e;
    border:  1px solid black;
    font-size: 18px;
   }
   #button{
    background-color: green;
    color: white;
     width: 400px;
    height: 50px;
    border-radius: 12px;
    margin-bottom: 500px;
   }
   #message{
     width: 400px;
    height: 50px;
    border-radius: 12px;
    background: #1e1e1e;
    border:  1px solid black;
    resize: none;
    font-size: 18px;

   }
   b{
    font-size: 20px;
   }
   span{
    font-size: 20px;
   }
   .h2{
    color: #4CAF50;

   }
  
