*{
    font-size: 17px;
}
#body{
    margin: 0;
     margin: 0;
   background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
     animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 0.5;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }}
#nav{
     text-align: right;
}
#header{
    outline: 0;
    background-color:black;
  
}
#logo{
    margin-right: 40%;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

#divnav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.one{
    color:white;
    padding-right: 50px;
    padding-bottom: 5px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}
.one:hover{
    color: greenyellow;}
    #imgone{
    width:200px;
    height: 70px;
    object-fit: cover;}
    .three{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    #mainone{
        margin: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #maintwo{
        margin: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .four{
         display: inline-block;
  text-align: center;
  padding: 10px 22px;
  background-color: green;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  margin: 50px;
  width: 100px;
  font-size: 16px;
    }
    .four:hover{
    color: greenyellow;}